/* TOOLBAR */

.toolbar {
    outline: none;
    padding-left: 15px;
    border: thin solid #009879;
    border-radius: 5px 5px 5px 5px;
}

input[type = search].toolbar, .search {
    width: 333px;
    margin-right: 15px;
    line-height: 33px;
}

input[type = search]::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button;
}

select .toolbar, .dropdown {
    height: 33px;
}

/* USER TABLE */

.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.users-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-family: sans-serif;
    min-width: 666px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border: thick solid #009879;
}

.users-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.users-table th, .users-table td {
    padding: 10px 10px;
}

.users-table tbody tr {
    border-bottom: thin solid #dddddd;
}

.users-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.selected {
    font-weight: bold;
    color: #009879;
}

/* PAGINATION */

.pagination {
    display: inline-block;
    padding-bottom: 25px;
}

/* BUTTONS */

.button, .pagination button {
    font-family: sans-serif;
    padding: 8px 16px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    transition: background-color .3s;
}

.pagination .button.active {
    background-color: #009879;
    color: white;
    border-radius: 5px;
}

.button:hover:not(.active) {
    background-color: #dddddd;
}

/* ADDITIONAL INFO */

.additional-info {
    font-family: sans-serif;
    min-width: 666px;
    border: thick solid #009879;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.additional-info p {
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 5px 0 5px;
    border-bottom: thin solid #dddddd;
}

.additional-info p:nth-of-type(even) {
    background-color: #f3f3f3;
}
