.users-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.users-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.users-table th, .users-table td {
    padding: 15px 15px;
}

.users-table tbody tr {
    border-bottom: thin solid #dddddd;
}

.users-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.users-table tbody tr:last-of-type {
    border-bottom: thick solid #009879;
}
