<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="css/main.css">
    <script src="https://code.angularjs.org/snapshot-stable/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.17/angular-filter.min.js"></script>
    <script src="js/reactIssueApp.js"></script>
</head>
<body ng-app="reactIssueApp">
<div ng-controller="reactIssueController" ng-init="init()">
    <div ng-if="users" class="flex">
        <div>
            <input type="search" ng-model="pagination.searchString" class="toolbar search" placeholder="Search everywhere:">
            <select ng-model="pagination.stateFilter" class="toolbar dropdown">
                <option selected="selected" value="">All states</option>
                <option ng-repeat="user in users | unique: 'adress.state' | orderBy: 'adress.state'" value="{{user.adress.state}}">{{user.adress.state}}</option>
            </select>
            <select ng-model="pagination.usersPerPage" ng-options="opt for opt in opts = [20, 50, 100]" class="toolbar dropdown"></select>
        </div>
        <table ng-if="getFilteredUsers().length > 0" class="users-table">
            <thead>
            <tr>
                <td ng-click="toggleSort('id')"><i>{{tableSort.selectedSort === 'id' ? '▲' : tableSort.selectedSort === '-id' ? '▼' : ''}}</i>ID</td>
                <td ng-click="toggleSort('firstName')"><i>{{tableSort.selectedSort === 'firstName' ? '▲' : tableSort.selectedSort === '-firstName' ? '▼' : ''}}</i>First name</td>
                <td ng-click="toggleSort('lastName')"><i>{{tableSort.selectedSort === 'lastName' ? '▲' : tableSort.selectedSort === '-lastName' ? '▼' : ''}}</i>Last name</td>
                <td ng-click="toggleSort('email')"><i>{{tableSort.selectedSort === 'email' ? '▲' : tableSort.selectedSort === '-email' ? '▼' : ''}}</i>Email</td>
                <td ng-click="toggleSort('phone')"><i>{{tableSort.selectedSort === 'phone' ? '▲' : tableSort.selectedSort === '-phone' ? '▼' : ''}}</i>Phone</td>
                <td ng-click="toggleSort('state')"><i>{{tableSort.selectedSort === 'adress.state' ? '▲' : tableSort.selectedSort === '-adress.state' ? '▼' : ''}}</i>State</td>
            </tr>
            </thead>
            <tr ng-repeat="user in getFilteredUsers() | orderBy: tableSort.selectedSort | offset: getOffset() | limitTo: pagination.usersPerPage" ng-click="selectUser(user); highlightSelectedRow($event)">
                <td>{{user.id}}</td>
                <td>{{user.firstName}}</td>
                <td>{{user.lastName}}</td>
                <td>{{user.email}}</td>
                <td>{{user.phone}}</td>
                <td>{{user.adress.state}}</td>
            </tr>
        </table>
        <div class="pagination" ng-if="getFilteredUsers().length > 0">
            <button ng-disabled="previousButtonIsDisabled()" ng-click="selectAdjacentPage(false)" class="button">Previous</button>
            <button class="{{numButtonIsActive(getLeftNumButtonPage()) ? 'active' : ''}}" ng-click="selectPage(getLeftNumButtonPage())" ng-if="getPagesAmount() > 1">{{getLeftNumButtonPage()}}</button>
            <button class="{{numButtonIsActive(getMidNumButtonPage()) ? 'active' : ''}}" ng-click="selectPage(getMidNumButtonPage())">{{getMidNumButtonPage()}}</button>
            <button class="{{numButtonIsActive(getRightNumButtonPage()) ? 'active' : ''}}" ng-click="selectPage(getRightNumButtonPage())" ng-if="getPagesAmount() > 2">{{getRightNumButtonPage()}}</button>
            <button ng-disabled="nextButtonIsDisabled()" ng-click="selectAdjacentPage(true)" class="button">Next</button>
        </div>
        <div class="no-results" ng-hide="getFilteredUsers().length > 0">
            <p>No results found {{pagination.searchString ? "for " : ""}} <b>{{pagination.searchString}}</b> in <b>{{pagination.stateFilter ? pagination.stateFilter : "all states"}}</b></p>
        </div>
        <div ng-if="selectedUser" class="additional-info flex">
            <p><button ng-click="closeAdditionalInfo()">Close</button></p>
            <p><b>Profile info:</b></p>
            <p><b>Selected profile:</b> {{selectedUser.firstName}} {{selectedUser.lastName}}</p>
            <p><b>Description:</b> {{selectedUser.description}}</p>
            <p><b>Address:</b> {{selectedUser.adress.streetAddress}}</p>
            <p><b>City:</b> {{selectedUser.adress.city}}</p>
            <p><b>State:</b> {{selectedUser.adress.state}}</p>
            <p><b>Index:</b> {{selectedUser.adress.zip}}</p>
        </div>
    </div>
</div>
</body>
</html>
