<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="css/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.8/angular-filter.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/reactIssueApp.js"></script>
</head>
<body ng-app="reactIssueApp">
<div ng-controller="reactIssueController" ng-init="init()" class="flex">
    <div class="toolbar">
        <input type="text" ng-model="searchString">
        <select ng-model="stateFilter">
            <option ng-repeat="user in users | unique:'adress.state'" value="{{user.adress.state}}">
                {{user.adress.state}}
            </option>
        </select>
    </div>
    <table ng-if="users" class="users-table">
        <thead>
        <tr>
            <td>ID</td>
            <td>First name</td>
            <td>Last name</td>
            <td>Email</td>
            <td>Phone</td>
            <td>State</td>
        </tr>
        </thead>
        <tr ng-repeat="user in pagination.users" ng-click="selectUser(user)">
            <td>{{user.id}}</td>
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.email}}</td>
            <td>{{user.phone}}</td>
            <td>{{user.adress.state}}</td>
        </tr>
    </table>
    <div class="pagination">
        <button ng-disabled="pagination.currentPage == 1"
                ng-click="pagination.currentPage = pagination.currentPage - 1">Prev
        </button>
        <button>1</button>
        <button>2</button>
        <button>3</button>
        <button ng-disabled="!(pagination.currentPage < Math.ceil(users.length / pagination.usersPerPage))"
                ng-click="pagination.currentPage = pagination.currentPage + 1">Next
        </button>
    </div>
    <div ng-if="selectedUser" class="additional-info flex">
        <p style="font-weight: bold">Profile info:</p>
        <p>Selected profile: {{selectedUser.firstName}} {{selectedUser.lastName}}</p>
        <p>Description: {{selectedUser.description}}</p>
        <p>Address: {{selectedUser.adress.streetAddress}}</p>
        <p>City: {{selectedUser.adress.city}}</p>
        <p>State: {{selectedUser.adress.state}}</p>
        <p>Index: {{selectedUser.adress.zip}}</p>
    </div>
</div>
</body>
</html>
